NEXT_PUBLIC_SOLANA_RPC_URL=https://api.devnet.solana.com
NEXT_PUBLIC_LAZORKIT_PORTAL_URL=https://portal.lazor.sh
NEXT_PUBLIC_LAZORKIT_PAYMASTER_URL=https://kora.devnet.lazorkit.com
NEXT_PUBLIC_SUBSCRIPTION_PROGRAM_ID=5MpaXq6rwiWfnpjR5THsa6TsLRMJ8jxgNYw3HH86yKwU
NEXT_PUBLIC_USDC_MINT=4zMMC9srt5Ri5X14GAgXhaHii3GnPAEERYPJgZJDncDU
NEXT_PUBLIC_MERCHANT_WALLET=<Merchant Wallet for Subscription Charge>